body {
  background-image: linear-gradient(to right, #b6d8f2, #f4cfdf);
}
.container {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title_container {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font-family: "Shrikhand", cursive;
  color: rgb(83, 171, 197);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
.title_container label {
  margin: 0px;
  font-size: 30px;
  -webkit-text-stroke-width: 0px;
  font-family: "Caveat", cursive;
  color: rgb(0, 0, 0);
  padding: 0%;
}

.icon1 {
  width: 100px;
}

.icon2 {
  position: absolute;
  width: 50px;
}

.monday {
  background-color: #ece7e9;
  width: 300px;
  margin-left: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  float: left;
  height: 600px;
}

.title_monday {
  background-color: aqua;
  margin-top: 10px;
  font-size: 20px;
  font-family: "Lobster", cursive;
  text-align: center;
  border-end-end-radius: 10px;
  float: left;
  width: 150px;
}

.sub {
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

hr {
  width: 50px;
  border-color: rgb(49, 73, 73);
  border-style: dashed;
}

.tuesday {
  background-color: #ece7e9;
  width: 300px;
  margin-left: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  float: left;
  height: 600px;
}

.title_tuesday {
  background-color: aqua;
  margin-top: 10px;
  font-size: 20px;
  font-family: "Lobster", cursive;
  text-align: center;
  border-end-end-radius: 10px;
  width: 150px;
  float: left;
}

.thursday {
  background-color: #ece7e9;
  width: 300px;
  margin-left: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 20px;
  float: left;
  height: 600px;
}

.title_thursday {
  background-color: aqua;
  margin-top: 10px;
  font-size: 20px;
  font-family: "Caveat", cursive;
  text-align: center;
  font-family: "Lobster", cursive;
  width: 150px;
  float: left;
}

.friday {
  background-color: #ece7e9;
  width: 300px;
  margin-left: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  float: left;
  margin-top: 20px;
  height: 600px;
}

.title_friday {
  background-color: aqua;
  margin-top: 10px;
  font-size: 20px;
  font-family: "Lobster", cursive;
  text-align: center;
  border-end-end-radius: 10px;
  width: 150px;
  float: left;
}

.wednesday {
  background-color: #ece7e9;
  width: 100px;
  margin-left: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  float: left;
  height: 600px;
}

.restday_icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  margin-top: 10px;
}

.vertical {
  margin-top: 2px;
  font-family: "Caveat", cursive;
  text-align: center;
  font-weight: bold;
}

.qoute {
  background-color: #ece7e9;
  width: 430px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  float: left;
  height: 250px;
}

.title_qoute {
  background-color: aqua;
  margin-top: 10px;
  font-size: 20px;
  font-family: "Lobster", cursive;
  text-align: center;
  border-end-end-radius: 10px;
  width: 150px;
  float: left;
}

.blackqoute_text {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Gelasio", serif;
  font-size: 25px;
}

.qoute img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-top: 50px;
}
